<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{single_blog.metacontent}}">

    <title>{{single_blog.title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/elegant-icons.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <style>
        body{
            direction: rtl;
        }
    </style>
</head>
<body>
        <!--  drop menu  -->

        <div class="humberger__menu__overlay"></div>
        <div style="direction: ltr;" class="humberger__menu__wrapper">
            <div class="humberger__menu__logo">
                <a href="#"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
            </div>
            <div class="humberger__menu__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
            </div>
            <div class="humberger__menu__widget">
                <!-- <div class="header__top__right__language">
                    <img src="{{ url_for('static', filename='img/language.png') }}" alt="">
                    <div>English</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div> -->
                <div class="header__top__right__auth">
                    <a href="{{url_for('users.login')}}"><i class="fa fa-user"></i> ورود |</a>
                </div>
                <div class="header__top__right__auth">
                    <a href="{{url_for('users.logout')}}"><i class="fa fa-user"></i> خروج</a>
                </div>
            </div>
            <nav class="humberger__menu__nav mobile-menu">
                <ul>
                    <li class="active"><a href="{{url_for('index')}}">خانه</a></li>
                    <li><a href="./shop-grid.html">خرید</a></li>
                    <li><a href="#">صفحه ها</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">وبلاگ</a></li>
                    <li><a href="./contact.html">محتوا</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="humberger__menu__contact">
                <ul>
                    <li><i class="fa fa-envelope"></i> onlineshop@gmail.com</li>
                    <!-- <li>Free Shipping for all Order of $99</li> -->
                </ul>
            </div>
        </div>

        <header style="direction: ltr;" class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> onlineshop@gmail.com</li>
                                    <!-- <li>Free Shipping for all Order of $99</li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="header__top__right">
                                <div class="header__top__right__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                </div>
                                <!-- <div class="header__top__right__language">
                                    <img src="img/language.png" alt="">
                                    <div>English</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="#">Spanis</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div> -->
                                <div class="header__top__right__auth">
                                    <a href="{{url_for('users.login')}}"><i class="fa fa-user"></i> ورود |</a>
                                </div>
                                <div class="header__top__right__auth">
                                    <a href="{{url_for('users.logout')}}"><i class="fa fa-user"></i> خروج</a>
                                </div>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div style="direction: rtl;">
                    {% with messages = get_flashed_messages(True) %}
                    {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                        <div class="card {{message[0]}} text-white">
                            <div class="card-body">
                                {{ message[1] }}
                            </div>
                        </div>
                        {% endfor %}
    
                    </div>
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
    
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
    
                                <li><a href="./shop-grid.html">خرید</a></li>
                                <li><a href="./contact.html">محتوا</a></li>
                                <li><a href="./blog.html">وبلاگ</a></li>
                                <li><a href="#">دسته بندی</a>
                                    <ul class="header__menu__dropdown">
                                        {% for group in groups %}
                                        <li><a href="{{ url_for('single_group' , slug = group.title) }}">{{ group.title
                                                }}</a></li>
                                        {% endfor %}
                                        <!-- <li><a href="./shop-details.html">Shop Details</a></li>
                                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                        <li><a href="./checkout.html">Check Out</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li> -->
                                    </ul>
                                </li>
                                <li class="active"><a href="{{url_for('index')}}">خانه</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                            </ul>
                            <!-- <div class="header__cart__price">item: <span>$150.00</span></div> -->
                        </div>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>
        <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='s/jquery-ui.min.js') }}j"></script>
        <script src="{{ url_for('static', filename='js/jquery.slicknav.js') }}"></script>
        <script src="{{ url_for('static', filename='s/mixitup.min.js') }}j"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>